
body{
    background-color: #fff;
}

.landing-container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.tagline{
    padding: 50px 10px 50px 130px;

}

.tagline h2{
    font-size: 90px;
    line-height: 90px;
}

.tagline p{
    font-size: 24px;
    font-weight: 350;
    margin-top: 50px;
    margin-bottom: 70px;
}

.banner-image{
    padding: 50px 120px 50px 100px;
}

.banner-image img{
    max-width: 689px;
    max-height: 450px;
}

.sign-up{
    height: 46px;
    width: 196px;
    border-radius: 10px;
    border: none;
    background-color: #80b700;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
}

.sign-up:hover{
    background-color: #ffbf00;
}

.sign-in{
    height: 46px;
    width: 196px;
    border-radius: 10px;
    border-color: #80b700;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.sign-in:hover{
    background-color: #80b700;
    color: #fff;
}


/* Who we are styling */
.main-container{
    display: grid;
    padding: 80px 100px;
}

h1,
.header2{
    color: #80b700;
    padding-top: 30px;
    padding-bottom: 20px;
}

.heading-1{
    text-align: center;
    padding-bottom: 30px;
}

.who-we-are{
    display: flex;
    padding-bottom: 120px;
}

.who-we-are p{
    font-size: 1.5rem;
    text-align: justify;
    padding: 50px;
    border-radius: 10px;
    color: #000;
}

.mission-vision{
    padding-top: 20px;
    padding-bottom: 50px;
}

.mission-vision h2{
    text-align: center;
    color: #80b700;
}

.mission-vision p{
    font-size: 20px;
    text-align: center;
}

.story-dream{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
}

.story-dream h2{
    text-align: center;
}

.story{
    width: 30%;
    padding: 20px;
    margin-right: 30px;
    background-color: #80b700;
    border-radius: 20px;
}

.story h2{
    color: #fff;
    padding: 10px;
}

.story p{
    text-align: justify;
    font-size: 18px;
    color: #fff;
    padding: 20px;
}

.dream{
    width: 30%;
    padding: 20px;
    background-color: #ffbf00;
    border-radius: 20px;
}

.dream h2{
    color:#fff;
    padding: 10px;
}

.dream p{
    text-align: justify;
    font-size: 18px;
    color: #fff;
    padding: 20px;
}

.our-team{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    border-color: #80b700;
    box-shadow: 0px 0px 1px 0px;
    padding-top: 20px;
    padding-bottom: 50px;

}

h2{
    text-align: center;
}

.our-team img{
    width: 50%;
    padding: 15px;
}

.developer{
    width: 33%;
}

.developer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.developer h3,
.developer h4{
    text-align: center;
}

.developer p{
    padding: 20px 70px;
    text-align: justify;
}

footer{
    width: 100%;
    height: 50px;
    background-color: #80b700;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}